@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins.scss';
@import './btns.scss';
@import './forms.scss';

body {
	@include scrollbar;
	font-family: 'Hind';
	@apply bg-light;
	&.dark {
		@apply bg-dark2;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat';
}

.main-container {
	@apply px-12 py-12 w-screen min-h-[calc(100vh-64px)] max-h-[calc(100vh-64px)]  transition-all  max-w-[calc(100vw+256px)];
}

.text {
	@apply text-white dark:text-gray-800;
}
.modal-box {
	@include scrollbar;
}
.h-inherit {
	height: inherit;
}

.min-h-inherit {
	min-height: inherit;
}
